# IntelliJ
.idea/

# ---> VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Python
__pycache__/
*.egg-info/
.coverage*
.mypy_cache/
.pytest_cache/
dist/
build/
.venv
.virtualenvs
build/
