dist: noble
language: python
python:
  - "3.10"
  - "3.11"
  - "3.12"
  - "3.13"
#  - "pypy3" lets not do pypy right now

before_install:
  - pip install uv
  # Fix issue with Python 3.7 and 3.8 build failure caused by "setuptools"
  #   AttributeError: type object 'Distribution' has no attribute '_finalize_feature_opts'
  - pip install setuptools==60.8.2

install:
  - uv sync

script:
  - uv run black . --check
  - uv run mypy runrestic --ignore-missing-imports --strict
  - uv run pytest
