[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
toml = "*"
fastjsonschema = "*"
typing = {markers="python_version < '3.5'"}


[dev-packages]
ipdb = "*"

[requires]
python_version = "3.6"
